<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>
</head>
<body>
    <center>
        <h1>html page</h1>
    {% if a > b %}
        <h1>inside if outer block</h1>
        <h1>a is max</h1>
        {% if a > c%}
        <h1>a is max </h1>
        {% else %}
            <h1>c is max</h1>
        {% endif %}
    {% else %}
        {% if b > c %}
            <h1>inside if inner block</h1>
            <h1>b is max</h1>
            {% else %}
                <h1>c is max</h1>
            {% endif %}
    {% endif %}
    </center>
</body>
</html>